
<div class="highlighted" style="background-image:;">
    <div class="breaking">
      <h1>Encuesta de valoración</h1>
      <p>Nos interesa mucho tu opinión para poder trasladársela a la directiva<br>
        Por favor, completa nuestra <a href="https://nuestroestu.es/noticias/encuesta/">encuesta de valoración</a><br>
        ¡No te llevará más de 3 minutos!
      </p>
      <a href="https://nuestroestu.es/noticias/encuesta/">
        <img src="/img/progbar-45.png" alt="45%">
      </a>
    </div>
</div>

  