div.img{
  width: 600px;
  padding-top: 2em;
  padding-bottom: 3em;
}

.em-img {
  height: auto;
  width: 400px;
  max-width: 100%;
  text-align: center;
  display: block;
}

figcaption {
  background-color: black;
  color: white;
  font-size:12px;
  padding: 2px;
  text-align: center;
}

div.progressbar {
  width: 600px;
  padding-top: 1em;
  padding-bottom: 2em;
}

div.highlighed {
  padding: 2em;
}

div.breaking {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5em;
  background: #F1C40F;
  color: #000;
}

div.date {
  font-size: 0.75em;
  font-style: italic;
  color: gray;
  padding-bottom: 1em;
}


div.sharing {
  padding-top: 2em;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
}

p.note {
  font-size: 80%;
  font-style: italic;
}